@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body{
    background-color:rgb(238, 238, 238);
    font-family: 'Roboto', sans-serif;

}
.Todo{
    margin-top: 0;
}
.AddTask{
    text-align: center;
    padding: 2%;
    background-color: rgb(118, 171, 174);
}
.AddTask h3{
    font-size: 2.5em;
}
.AddTask .InputArea{
    width: 40%;
    font-size: 1em;
    padding: 0.27%;
}
.AddTask .AddtaskBtn{
    font-size: 1.19em;
}

.Lists{
    margin-top: 6%;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 70%;
    
}
.ListItemText {
    flex: 1 1 auto; /*grow and shrink as needed*/
    margin-left: 10px;
    max-width: 70%;
    word-wrap: break-word;
    /*overflow-wrap: break-word;*/
}
.Lists ul li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;  
}
.SearchContainer{
    position: absolute;
    top: 34%;
    right: 0;
    margin-top: 0;
}
.SearchItem{
    text-align: right;
    margin-right: 2%;
}
.SearchItem input{
    width: 80%;
}
.SquareIcon {
   margin-left: 25%;
}
.TrashIcon {
    position: absolute;
    right: -18%;
}
.Time{
    font-size: 1.75em;
    /*background-color: rgb(223, 208, 184);*/
    display: inline;
    margin-left: 1%;
    
}



@media only screen and (max-width: 820px) {
    .Lists{
        margin-top: 10%;  
    }
    .SearchContainer{
        top: 19%;
        margin-right: 2%;
       
    }
  }
  @media only screen and (max-width: 500px) {
    .Time{
       margin-left: 32%;
    }
    .Lists{
        margin-top: 35%; 
    }
    .SearchContainer{
        top: 32%;
        margin-right: 18%;
    }
    .SearchItem{
        text-align: center;
        padding: 1.5%;
    }
    .AddTask .InputArea{
        margin-bottom: 10%;
        padding: 1%;
    }
  }

  @media only screen and (max-width: 376px) {
    .Time{
        font-size: 1.5em;
    }
    .SearchItem{
       margin-top: 40%;
      margin-left: 19%;
    }
    .SearchItem input {
        
    }
    .AddTask .InputArea{
        padding: 1%;
    }
  }
